@page
@using Karma.Models
@model IndexModel
@{ 
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome To Karma</h1>
    <p>Where old and unused things find a new home</p>
</div>


@{ 
    void PrintSubmits(IEnumerable<ItemPost> submits, int submitCount)
    {
        <div class="container-fluid row row-cols-1 row-cols-md-3 mt-2 g-4">
            @if(submitCount == 1)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="/images/@submits.ElementAt(submitCount - 1).Picture" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@submits.ElementAt(submitCount - 1).Title</h5>
                        </div>
                    </div>
                </div>
            }
            else
            {
                for(int i = submits.Count() - 1; i >= submits.Count() - submitCount; i--)
                {
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="/images/@submits.ElementAt(i).Picture" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@submits.ElementAt(i).Title</h5>
                                <!--More button wont work in this function, need to research why. For now i deleted it-->
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    }

    void PrintRequests(IEnumerable<RequestPost> requestas, int counter)
    {
       <div class="list-group mt-5">
           @if (counter == 1)
            {
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@Model.Requests.ElementAt(counter - 1).Title</h5>
                        <small>@Model.Requests.ElementAt(counter - 1).PosterName</small>
                    </div>
                    <p class="mb-1">@Model.Requests.ElementAt(counter - 1).Description</p>
                    <small>@Model.Requests.ElementAt(counter - 1).City,</small>
                    <small>@Model.Requests.ElementAt(counter - 1).PhoneNumber</small>
                </a>
            }
            else
            {
                for(int i = requestas.Count() - 1; i >= requestas.Count() - counter; i--)
                {
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@Model.Requests.ElementAt(i).Title</h5>
                            <small>@Model.Requests.ElementAt(i).PosterName</small>
                        </div>
                        <p class="mb-1">@Model.Requests.ElementAt(i).Description</p>
                        <small>@Model.Requests.ElementAt(i).City,</small>
                        <small>@Model.Requests.ElementAt(i).PhoneNumber</small>
                    </a>
                }
            }
       </div>
    
    }
    

    // Prints posts and requests. I wouldn't consider this very clean.
    // Will need to rework this in the future.
    // Using named arguments:
    if(Model.Submits.Count() >= 3)  PrintSubmits(submitCount: 3, submits: Model.Submits); 
    else if(Model.Submits.Count() > 0)  PrintSubmits(submits: Model.Submits, submitCount: Model.Submits.Count()); 
    else PrintSubmits(submits: Model.Submits, submitCount: 0); 
    <div class="d-grid gap-2 col-6 mx-auto mt-3">
        <a class="btn btn-outline-secondary" target="_blank" asp-page="/Submits">View more items</a>
    </div>


    if(Model.Requests.Count() >=3) PrintRequests(Model.Requests, 3);
    else if(Model.Requests.Count() > 0) PrintRequests(Model.Requests, Model.Requests.Count());
    else PrintRequests(Model.Requests, 0);
    <div class="d-grid gap-2 col-6 mx-auto mt-3">
        <a class="btn btn-outline-secondary" target="_blank" asp-page="/Requests">More requests</a>
    </div>
}
