@page "/Submits/Item/{id}"
@model ItemModel
@{ ViewData["Title"] = "Item"; }


<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md p-0">
            <img src="/images/@Model.Item.Picture" asp-append-version=true class="figure-img img-fluid mb-0 rounded">
        </div>
        <div class="col-md p-0">

            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title">@Model.Item.Title</h2>
                    <h6 class="card-subtitle mb-2 text-muted">@Model.Item.City</h6>
                    <p class="card-text">@Model.Item.Description</p>
                    <h6 class="card-text text-muted mt-auto">@Model.Item.PosterName</h6>
                    <h6 class="card-text text-muted">@Model.Item.Email</h6>
                    <h6 class="card-text text-muted">+@Model.Item.PhoneNumber</h6>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Item.Email == HttpContext.User.Identity.Name)
    {
        <form method="post" enctype="multipart/form-data" class="mt-4 needs-validation" novalidate>

            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Edit item
            </button>
            <div id="collapseExample" class="collapse">

                <input hidden asp-for="Item.ID" />

                <div class="form-group row mb-3 mt-3 ">
                    <label asp-for="Item.Title" class="col-sm-2 col-form-label">
                    </label>
                    <div class="col-sm-10">
                        <input asp-for="Item.Title" class="form-control" placeholder="Title" required>
                        <div class="invalid-feedback">
                            Please enter a valid title.
                        </div>
                    </div>

                </div>

                <div class="form-group row mb-3">
                    <label asp-for="Item.PosterName" class="col-sm-2 col-form-label">
                    </label>
                    <div class="col-sm-10">
                        <input asp-for="Item.PosterName" class="form-control" placeholder="Poster name" required>
                        <div class="invalid-feedback">
                            Please enter a valid name.
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label asp-for="Item.Description" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <textarea asp-for="Item.Description" class="form-control" rows="3" placeholder="Description" required></textarea>
                        <div class="invalid-feedback">
                            Please enter a valid description.
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label asp-for="Item.PhoneNumber" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="number" asp-for="Item.PhoneNumber" class="form-control" placeholder="Phone number" required>
                        <div class="invalid-feedback">
                            Please enter a valid phone number.
                        </div>
                    </div>

                </div>

                <div class="form-group row mb-3">
                    <label asp-for="Item.City" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input asp-for="Item.City" class="form-control" placeholder="City" required>
                        <div class="invalid-feedback">
                            Please enter a valid city.
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label asp-for="Item.Email" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="email" asp-for="Item.Email" class="form-control" placeholder="Email" required>
                        <div class="invalid-feedback">
                            Please enter a valid email.
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="Photo" class="custom-file-input form-control">
                            <label class="custom-file-label">Click here to change photo</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label asp-for="Item.Category" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <select class="form-select" aria-label="category selection" asp-for="Item.Category" asp-items="@new SelectList(Karma.Models.Post.Categories)"></select>

                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Edit</button>



            </div>

        </form>
    }

