@page "/Submits/Item/{id}"
@model ItemModel
@using System.IO; 
@{ ViewData["Title"] = "Item"; }



<div class="container-fluid image-container">
    <div class="item-picture-div">
        <img src="/images/@Model.Item.Picture" asp-append-version=true class="mb-0 item-picture">
    </div>
</div>
<div class="container-fluid details-container">
    <div class="item-description">
        <h2 class="item-title">@Model.Item.Title</h2>
        <h6 class="item-text mb-5 text-muted">@Model.Item.KarmaUser.City</h6>
        <p class="item-text">@Model.Item.Description</p>
        <p class="item-text mb-0">Contacts:</p>
        <h6 class="item-text text-muted mt-0">@Model.Item.KarmaUser.FirstName</h6>
        <h6 class="item-text text-muted">@Model.Item.KarmaUser.Email</h6>
        <h6 class="item-text text-muted">+@Model.Item.KarmaUser.PhoneNumber</h6>
        @if (HttpContext.User.Identity.IsAuthenticated && HttpContext.User.Identity.Name != Model.Item.KarmaUser.Email)
    {
        <form method="post" asp-page-handler="message" asp-route-itemid="@Model.Item.Id" class="mt-4 needs-validation" novalidate>

            <button class="btn button-custom rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                Send owner a message
            </button>
            <div id="collapseExample2" class="collapse">
                <div class="form-group row mb-3 mt-3 ">
                    <label asp-for="Message.Content" class="col-sm-2 col-form-label">
                    </label>
                    <div class="col-sm-10">
                        <input asp-for="Message.Content" class="form-control rounded-0" placeholder="Content" required>
                        <div class="invalid-feedback">
                            Please enter a valid message.
                        </div>
                    </div>

                </div>
                <button type="submit" class="btn button-custom rounded-0">Send</button>
            </div>

        </form>
    }
    </div>
</div>
    @if (Model.Item.KarmaUser.Email == HttpContext.User.Identity.Name)
    {
        <form method="post" enctype="multipart/form-data" class="mt-4 needs-validation" novalidate>

            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Edit item
            </button>
            <div id="collapseExample" class="collapse">

                <input hidden asp-for="Item.Id" />
                <input hidden asp-for="Item.Picture" />

                <div class="form-group row mb-3 mt-3 ">
                    <label asp-for="Item.Title" class="col-sm-2 col-form-label">
                    </label>
                    <div class="col-sm-10">
                        <input asp-for="Item.Title" class="form-control" placeholder="Title" required>
                        <div class="invalid-feedback">
                            Please enter a valid title.
                        </div>
                    </div>

                </div>

                <div class="form-group row mb-3">
                    <label asp-for="Item.Description" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <textarea asp-for="Item.Description" class="form-control" rows="3" placeholder="Description" required></textarea>
                        <div class="invalid-feedback">
                            Please enter a valid description.
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label asp-for="Photo" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <div class="custom-file">
                            <input asp-for="Photo" class="custom-file-input form-control">
                            <label class="custom-file-label">Click here to change photo</label>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label asp-for="Item.Category" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <select class="form-select" aria-label="category selection" asp-for="Item.Category" asp-items="@new SelectList(Karma.Models.Post.Categories)"></select>

                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Edit</button>



            </div>

        </form>
    }







@*<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md p-0">
            <img src="/images/@Model.Item.Picture" asp-append-version=true class="figure-img img-fluid mb-0 rounded">
        </div>
        <div class="col-md p-0">

            <div class="card h-100">
                <div class="card-body d-flex flex-column">
                    <h2 class="card-title">@Model.Item.Title</h2>
                    <h6 class="card-subtitle mb-2 text-muted">@Model.Item.KarmaUser.City</h6>
                    <p class="card-text">@Model.Item.Description</p>
                    <h6 class="card-text text-muted mt-auto">@Model.Item.KarmaUser.FirstName</h6>
                    <h6 class="card-text text-muted">@Model.Item.KarmaUser.Email</h6>
                    <h6 class="card-text text-muted">+@Model.Item.KarmaUser.PhoneNumber</h6>
                </div>
            </div>
        </div>
    </div>
    @if (HttpContext.User.Identity.IsAuthenticated && HttpContext.User.Identity.Name != Model.Item.KarmaUser.Email)
    {
        <form method="post" asp-page-handler="message" asp-route-itemid="@Model.Item.Id" class="mt-4 needs-validation" novalidate>

            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                Send owner a message
            </button>
            <div id="collapseExample2" class="collapse">
                <div class="form-group row mb-3 mt-3 ">
                    <label asp-for="Message.Content" class="col-sm-2 col-form-label">
                    </label>
                    <div class="col-sm-10">
                        <input asp-for="Message.Content" class="form-control" placeholder="Content" required>
                        <div class="invalid-feedback">
                            Please enter a valid message.
                        </div>
                    </div>

                </div>
<button type="submit" class="btn btn-primary">Send</button>
            </div>

        </form>
    }
</div>*@
