@page
@using Karma.Models; 
@model GetRequestsModel
@{ ViewData["Title"] = "Request Catalog/Debugging page"; }


<h1>@ViewData["Title"]</h1>

@{
    void PrintList(IEnumerable<RequestPost> requestas, int counter)
    {
    
    <div class="list-group mt-4">
        @{
            <p>@requestas.Count() - @counter</p>
            for (int i = requestas.Count() - 1; i >= requestas.Count()-counter; i--)
            {
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@requestas.ElementAt(i).Title</h5>
                        <small>@requestas.ElementAt(i).PosterName</small>
                    </div>
                    <p class="mb-1">@requestas.ElementAt(i).Description</p>
                    <small>@requestas.ElementAt(i).City,</small>
                    <small>@requestas.ElementAt(i).PhoneNumber,</small>
                    <small>@requestas.ElementAt(i).State</small>
                </a>

            }
        }
    </div>
        }

    PrintList(Model.Requests, Model.Requests.Count());
    PrintList(Model.Requests, 3);
    PrintList(Model.Requests, 2);
    PrintList(Model.Requests, 1);
    PrintList(Model.Requests, 0);

}