@page "/Requests"
@model Karma.Pages.RequestsModel
@{
    ViewData["Title"] = "Request items";
}

<h1>@ViewData["Title"]</h1>

<!--Form for a new request-->
<form method="post" class="mt-4 needs-validation" novalidate>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Request an item
    </button>
    <div id="collapseExample" class="collapse">
        <div class="mb-3">
            <label class="form-label">Item name</label>
            <input type="text" class="form-control" asp-for="Item.Title" required>
            <div class="invalid-feedback">
                Please enter the request title.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea type="text" class="form-control" rows="3" asp-for="Item.Description" required></textarea>
            <div class="invalid-feedback">
                Please provide the item's description.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Your name</label>
            <input type="text" class="form-control" asp-for="Item.PosterName" required>
            <div class="invalid-feedback">
                Please enter your name.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">City</label>
            <input type="text" class="form-control" asp-for="Item.City" required>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="Item.Email" required>
            <div class="invalid-feedback">
                Please provide your email.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Phone number</label>
            <input type="text" class="form-control" asp-for="Item.PhoneNumber" required>
            <div class="invalid-feedback">
                Please provide your phone number.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Category</label>
            <select class="form-select" aria-label="category selection" asp-for="Item.Category" asp-items="@new SelectList(Karma.Models.Post.Categories)"></select>
        </div>

        <button type="submit" class="btn btn-primary">Request</button>
    </div>
</form>

<div class="list-group mt-4">
    @{
        if (ModelState.IsValid)
        {
            foreach (var requestas in Model.Requests)
            { 
                if(requestas.State == Models.Post.StateEnum.Taken)
                {
                <a class="list-group-item list-group-item-action disabled">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@requestas.Title</h5>
                        <small>@requestas.PosterName</small>
                    </div>
                    <p class="mb-1">@requestas.Description</p>
                    <small>@requestas.City,</small>
                    <small>@requestas.PhoneNumber,</small>
                    <small>@requestas.State</small>
                    <form asp-page-handler="delete" asp-route-ID="@requestas.ID" method="post">
                        <button class="btn btn-default">Delete</button>
                    </form>
                </a>
                }
                else
                {
                    <a class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@requestas.Title</h5>
                        <small>@requestas.PosterName</small>
                    </div>
                    <p class="mb-1">@requestas.Description</p>
                    <small>@requestas.City,</small>
                    <small>@requestas.PhoneNumber,</small>
                    <small>@requestas.State</small>
                    <form asp-page-handler="delete" asp-route-ID="@requestas.ID" method="post">
                        <button class="btn btn-default">Delete</button>
                    </form>
                </a>
                }

            }
        }
    }
    
</div>