@page "/Requests"
@model Karma.Pages.RequestsModel


@using Microsoft.AspNetCore.Identity
@using Karma.Areas.Identity.Data

@inject SignInManager<KarmaUser> SignInManager
@inject UserManager<KarmaUser> UserManager

@{
    ViewData["Title"] = "Request items";
}

<h1>@ViewData["Title"]</h1>


<form method="get">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>

<!--Form for a new request-->
<form method="post" class="mt-4 needs-validation" novalidate>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Request an item
    </button>
    <div id="collapseExample" class="collapse">
        <div class="mb-3">
            <label class="form-label">Item name</label>
            <input type="text" class="form-control" asp-for="Item.Title" required>
            <div class="invalid-feedback">
                Please enter the request title.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea type="text" class="form-control" rows="3" asp-for="Item.Description" required></textarea>
            <div class="invalid-feedback">
                Please provide the item's description.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Category</label>
            <select class="form-select" aria-label="category selection" asp-for="Item.Category" asp-items="@new SelectList(Karma.Models.Post.Categories)"></select>
        </div>


        @if (SignInManager.IsSignedIn(User))
        {
            <button type="submit" class="btn btn-primary">Request</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary disabled">Request</button>
        }

    </div>
</form>

<div class="list-group mt-4">
    @{
        if (ModelState.IsValid)
        {
            foreach (var requestas in Model.Requests)
            {
                if (requestas.State == Models.Post.StateEnum.Taken)
                {
                    <a class="list-group-item list-group-item-action disabled">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@requestas.Title</h5>
                            <small>@requestas.KarmaUser.FirstName</small>
                        </div>
                        <p class="mb-1">@requestas.Description</p>
                        <small>@requestas.KarmaUser.City,</small>
                        <small>@requestas.KarmaUser.PhoneNumber,</small>
                        <small>@requestas.State</small>
                        @if (requestas.KarmaUser.Email == HttpContext.User.Identity.Name && SignInManager.IsSignedIn(User))
                        {
                            <form asp-page-handler="delete" asp-route-ID="@requestas.Id" method="post">
                                <button class="btn btn-default">Delete</button>
                            </form>
                        }

                    </a>
                }
                else
                {
                    <a class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@requestas.Title</h5>
                            <small>@requestas.KarmaUser.FirstName</small>
                        </div>
                        <p class="mb-1">@requestas.Description</p>
                        <small>@requestas.KarmaUser.City,</small>
                        <small>@requestas.KarmaUser.PhoneNumber,</small>
                        <small>@requestas.State</small>
                        @if (requestas.KarmaUser.Email == HttpContext.User.Identity.Name && SignInManager.IsSignedIn(User))
                        {
                            <form asp-page-handler="delete" asp-route-ID="@requestas.Id" method="post">
                                <button class="btn btn-default">Delete</button>
                            </form>
                        }
                        @if (HttpContext.User.Identity.IsAuthenticated && HttpContext.User.Identity.Name != requestas.KarmaUser.Email)
                        {
                            <form method="post" asp-page-handler="message" asp-route-itemid="collapse @requestas.collapseId()" class="mt-4 needs-validation" novalidate>

                                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#@requestas.collapseId()" aria-expanded="false" aria-controls="@requestas.Id">
                                    Send owner a message
                                </button>
                                <div id="@requestas.collapseId()" class="collapse">
                                    <div class="form-group row mb-3 mt-3 ">
                                        <label asp-for="Message.Content" class="col-sm-2 col-form-label">
                                        </label>
                                        <div class="col-sm-10">
                                            <input asp-for="Message.Content" class="form-control" placeholder="Content" required>
                                            <div class="invalid-feedback">
                                                Please enter a valid message.
                                            </div>
                                        </div>

                                    </div>
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </div>

                            </form>
                        }
                    </a>
                }

            }
        }
    }

</div>