@page "/Requests"
@model Karma.Pages.RequestsModel


@using Microsoft.AspNetCore.Identity
@using Karma.Areas.Identity.Data
@using Karma.Services

@inject SignInManager<KarmaUser> SignInManager
@inject UserManager<KarmaUser> UserManager
@inject IFulfillmentRepository FulfillmentRepository

@*<form method="get">
    <div class="input-group">
        <input class="form-control" asp-for="SearchTerm">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
</form>*@

<!--Form for a new request-->
<form method="post" class="needs-validation post-form" novalidate>
    <a class="submit-an-item" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Request an item
    </a>
    <div id="collapseExample" class="collapse">
        <div class="mb-3">
            <label class="form-label">Item name</label>
            <input type="text" class="form-control rounded-0" asp-for="Item.Title" required>
            <div class="invalid-feedback">
                Please enter the request title.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea type="text" class="form-control rounded-0" rows="3" asp-for="Item.Description" required></textarea>
            <div class="invalid-feedback">
                Please provide the item's description.
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Category</label>
            <select class="form-select rounded-0" aria-label="category selection" asp-for="Item.Category" asp-items="@new SelectList(Karma.Models.Post.Categories)"></select>
        </div>


        @if (SignInManager.IsSignedIn(User))
        {
            <button type="submit" class="btn button-custom rounded-0 mb-4">Request</button>
        }
        else
        {
            <button type="submit" class="btn button-custom rounded-0 disabled mb-4">Request</button>
        }

    </div>
</form>
<!--Request list-->
<div class="list-group request-list">
    @{
        if(Model.Requests.Count() == 0)
            {
                <h3 class="empty">Looks like there are no requests. <br /> Be the first one to ask for something!</h3>
            }
        if (ModelState.IsValid)
        {
            foreach (var requestas in Model.Requests)
            {

                if(FulfillmentRepository.GetFulfillments().Where(f => f.Request.Id == requestas.Id).Count() == 0 )
                {
                    <a class="list-group-item list-group-item-action request-page-card rounded-0">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1 request-title">@requestas.Title</h5>
                            <small>@requestas.KarmaUser.FirstName @requestas.KarmaUser.KarmaPoints</small>
                        </div>
                        <p class="mb-1">@requestas.Description</p>
                        <small>@requestas.KarmaUser.City,</small>
                        <small>@requestas.KarmaUser.PhoneNumber,</small>
                        <small>@requestas.State</small>
                        @if (requestas.KarmaUser.Email == HttpContext.User.Identity.Name && SignInManager.IsSignedIn(User))
                        {
                            <form asp-page-handler="delete" asp-route-ID="@requestas.Id" method="post">
                                <button class="btn btn-default p-0">Delete</button>
                            </form>
                        }
                        @if (HttpContext.User.Identity.IsAuthenticated && HttpContext.User.Identity.Name != requestas.KarmaUser.Email)
                        {
                            <form method="post" asp-page-handler="fulfill" asp-route-requestId="@requestas.Id" class="mt-4 needs-validation" novalidate>
                                <button type="submit"  class="btn button-custom rounded-0"  >
                                    Fulfill
                                </button>
                               </form>
                            <form method="post" asp-page-handler="message" asp-route-itemid="@requestas.Id" class="mt-4 needs-validation" novalidate>

                                <button class="btn button-custom rounded-0" type="button" data-bs-toggle="collapse" data-bs-target="#@requestas.CollapseId()" aria-expanded="false" aria-controls="@requestas.Id">
                                    Send requester a message
                                </button>
                                <div id="@requestas.CollapseId()" class="collapse">
                                    <div class="form-group row mb-3 mt-3 ">
                                        <label asp-for="Message.Content" class="col-sm-2 col-form-label">
                                        </label>
                                        <div class="col-sm-10">
                                            <input asp-for="Message.Content" class="form-control rounded-0" placeholder="Content" required>
                                            <div class="invalid-feedback">
                                                Please enter a valid message.
                                            </div>
                                        </div>

                                    </div>
                                    <button type="submit" class="btn button-custom rounded-0">Send</button>
                                </div>

                            </form>
                        }
                    </a>
                }

            }
        }
    }

</div>
