@page "/Submits/"
@model Karma.Pages.SubmitsModel
@{
    ViewData["Title"] = "Submit Items";
}
@using Karma.Extensions;

<h1>@ViewData["Title"]</h1>

<!--do some research about this enctype thingie-->

<form method="post" enctype="multipart/form-data" class="mt-4 needs-validation" novalidate>

    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample">
        Submit an item
    </button>
    <div id="collapseExample" class="collapse">

        <div class="mb-3">
            <label class="form-label">Item name</label>
            <input type="text" class="form-control" asp-for="Item.Title " required>
            <div class="invalid-feedback">
                Please enter the post title.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea type="text" class="form-control" rows="3" asp-for="Item.Description" required></textarea>
            <div class="invalid-feedback">
                Please provide the item's description.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Your name</label>
            <input type="text" class="form-control" asp-for="Item.PosterName" required>
            <div class="invalid-feedback">
                Please enter your name.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">City</label>
            <input type="text" class="form-control" asp-for="Item.City" required>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Phone number</label>
            <input type="number" class="form-control" asp-for="Item.PhoneNumber" required>
            <div class="invalid-feedback">
                Please provide your phone number.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" asp-for="Item.Email" required>
            <div class="invalid-feedback">
                Please provide your email.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Picture</label>
            <input class="form-control" type="file" asp-for="Photo" required>
            <div class="invalid-feedback">
                Please upload a picture of the item.
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Category</label>
            <select class="form-select" aria-label="category selection" asp-for="Item.Category" asp-items="@new SelectList(Karma.Models.Post.Categories)"></select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>

@*<div class="card mt-auto">
    <header class="card-header">
        <h6 class="title">Categories </h6>
    </header>
    <div class="filter-content">
        <div class="card-body">
            <form method="post">
                <select class="form-control"  name="selectedcategory"  asp-items="@new SelectList(Karma.Models.Post.Categories)"></select>
                @for (int i = 0; i < Karma.Models.Post.Categories.Count(); ++i)
                {
                    <label class="form-check">
                        <input name="CheckedCategories" type="checkbox" value="@Karma.Models.Post.Categories[i] ">
                        <span class="form-check-label"> @Karma.Models.Post.Categories[i] </span>
                        </label>

                    <div class="form-check">
                        <input type="checkbox" value="@Karma.Models.Post.Categories[i]" name="CheckedCategories" />
                        <label>@Karma.Models.Post.Categories[i]</label>
                    </div>
                }
            </form>
        </div>
        <form asp-page-handler="filter">
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>
    </div>
</div>*@

<div class="container-fluid row row-cols-1 row-cols-md-3 mt-3">
    @{
        if (ModelState.IsValid)
        {
            @for (int i = Model.Submits.Count() - 1; i >= 0; i--)
            {
                if (Model.Submits.ElementAt(i).State != Models.Post.StateEnum.Hidden)
                {
                    <div class="col mt-4">
                        <div class="card h-100 shadow-sm">
                            <img href="#" src="/images/@Model.Submits.ElementAt(i).Picture" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@Model.Submits.ElementAt(i).Title</h5>
                                    @if(Model.Submits.ElementAt(i).Description.Length <= 50)
                                    {
                                        <p class="card-text">@Model.Submits.ElementAt(i).Description</p>
                                    }
                                    else
                                    {
                                        <p class="card-text">@Model.Submits.ElementAt(i).Description.Substring(0,50)...</p>
                                    }
                                <p class="card-text">@Model.Submits.ElementAt(i).Date.ShowTimeSpan()</p>                           
                                @if(Model.Submits.ElementAt(i).State == Models.Post.StateEnum.Taken)
                                {
                                    <a class="btn btn-secondary disabled" target="_self" asp-page="/Item" asp-route-id=@Model.Submits.ElementAt(i).ID>More info</a>
                                }
                                else
                                {
                                    <a class="btn btn-secondary" target="_self" asp-page="/Item" asp-route-id=@Model.Submits.ElementAt(i).ID>More info</a>
                                }
                            </div>
                            <div class="col-lg-1">
                                <form asp-page-handler="delete" asp-route-id="@Model.Submits.ElementAt(i).ID" method="post">
                                    <button class="btn btn-default">Delete</button>
                                </form>
                            </div>
                        </div>                        
                    </div>
                }
            }
        }
    }
</div>
