@page
@model Karma.Pages.MyItemsModel
@{
}

@using Microsoft.AspNetCore.Identity
@using Karma.Areas.Identity.Data

@inject SignInManager<KarmaUser> SignInManager
@inject UserManager<KarmaUser> UserManager

@using Karma.Extensions;
@using Karma.Models; 


@{ ViewData["Title"] = "My Items"; }
@using Karma.Extensions;

<h1>@ViewData["Title"]</h1>

<!--do some research about this enctype thingie-->

<form method="get">
    <div class="input-group">
        <input class="form-control rounded-0" asp-for="SearchTerm">
        <div class="input-group-append">
            <button class="btn button-custom rounded-0" type="submit">Search</button>
        </div>
    </div>
</form>

@*<div class="card mt-auto">
        <header class="card-header">
            <h6 class="title">Categories </h6>
        </header>
        <div class="filter-content">
            <div class="card-body">
                <form method="post">
                    <select class="form-control"  name="selectedcategory"  asp-items="@new SelectList(Karma.Models.Post.Categories)"></select>
                    @for (int i = 0; i < Karma.Models.Post.Categories.Count(); ++i)
                    {
                        <label class="form-check">
                            <input name="CheckedCategories" type="checkbox" value="@Karma.Models.Post.Categories[i] ">
                            <span class="form-check-label"> @Karma.Models.Post.Categories[i] </span>
                            </label>

                        <div class="form-check">
                            <input type="checkbox" value="@Karma.Models.Post.Categories[i]" name="CheckedCategories" />
                            <label>@Karma.Models.Post.Categories[i]</label>
                        </div>
                    }
                </form>
            </div>
            <form asp-page-handler="filter">
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </form>
        </div>
    </div>*@

<div class="container-fluid row row-cols-1 row-cols-md-3 mt-3 p-0">
    @{
        if (ModelState.IsValid)
        {
            @for (int i = Model.Submits.Count() - 1; i >= 0; i--)
            {
                
                    <div class="col mt-4">
                        <div class="card h-100 shadow-sm post-card rounded-0">
                            <a target="_self" asp-page="/Item" asp-route-id=@Model.Submits.ElementAt(i).Id>
                                <img src="/images/@Model.Submits.ElementAt(i).Picture" class="card-img-top rounded-0" alt="..." >
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">@Model.Submits.ElementAt(i).Title</h5>
                                    @if(Model.Submits.ElementAt(i).Description.Length <= 50)
                                    {
                                        <p class="card-text">@Model.Submits.ElementAt(i).Description</p>
                                    }
                                    else
                                    {
                                        <p class="card-text">@Model.Submits.ElementAt(i).Description.Substring(0,50)...</p>
                                    }
                                <p class="card-text text-muted">@Model.Submits.ElementAt(i).Date.ShowTimeSpan()</p>
                            </div>
                            <div class="col-lg-1">
                                @if (Model.Submits.ElementAt(i).KarmaUser.Email == HttpContext.User.Identity.Name 
                                                                      && SignInManager.IsSignedIn(User))
                                {
                                <form asp-page-handler="delete" asp-route-id="@Model.Submits.ElementAt(i).Id" method="post">
                                    <button class="btn btn-default">Delete</button>
                                </form>
                                }
                            </div>
                        </div>                        
                    </div>
                
            }
        }
    }
</div>
